# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
0001_initial.py
0002_userdetails_photo_alter_userdetails_company_number_and_more.py
0002_remove_salesrefreturn_foc_remove_salesrefreturn_item_and_more.py
0002_remove_salesrefreturn_foc_remove_salesrefreturn_item_and_more.py
0003_remove_salesrefreturn_choice_salesrefreturn_added_by_and_more.py
0004_alter_salesrefreturn_bill_code.py
0005_alter_salesrefreturnitem_foc_and_more.py
0002_remove_notbuydetails_reason_and_more.py
0002_salesrefinvoice_payment_type.py
0003_alter_salesrefinvoice_dealer.py
0004_invoiceintem_bill.py
0002_salesrefdistributor_added_by.py
0002_alter_distributorinventory_date.py
0003_distributorinventoryitems_foc.py
0004_remove_distributorinventoryitems_item_and_more.py
0002_alter_companyinvoice_invoice_number.py
0003_companyinvoiceitems_description.py
distrubutor_salesref_invoice/migrations/0002_initial.py
0003_companyinventory_date.py
0002_alter_salesrefleave_approved.py
0002_initial.py
0003_remove_salesrefleave_leave_type_and_more.py
0003_alter_userdetails_photo.py
0004_alter_companyinventory_base.py
0005_companyinventory_category.py
0003_distributorinventoryitems_category.py
0002_alter_category_date.py
0003_alter_useraccount_user_name.py
0002_alter_useraccount_user_name.py
0003_companyinvoice_total.py
0004_companyinvoice_billing_price_method_and_more.py
0003_dealer_category.py
0004_dealer_psa.py
0005_alter_dealer_category_alter_dealer_psa.py
0003_salesrefinvoice_billing_price_method_and_more.py
0004_alter_salesrefinvoice_billing_price_method.py
0006_alter_companyinventory_base.py
0004_alter_distributorinventoryitems_base.py
0005_distributorinventoryitems_invoice_number.py
0005_remove_salesrefinvoice_psa.py
0006_salesrefinvoice_status_chequedetails.py
0007_alter_chequedetails_status.py
0008_chequedetails_account_number_and_more.py
0009_invoiceintem_item.py
0003_notbuydetails_time.py
0004_remove_notbuydetails_date_remove_notbuydetails_time_and_more.py 
0006_distributorinventoryitems_date.py
0007_alter_distributorinventoryitems_date.py
0008_distributorinventoryitems_from_sales_return.py
0010_chequedetails_bank.py
0011_salesrefinvoice_paid_amount.py
0012_salesrefinvoice_confirmed_date.py
0004_alter_useraccount_user_name.py
0003_initial.py
0003_initial.py
0003_alter_distributorinventoryitems_invoice_number.py
0004_alter_salesrefleave_approved_by.py
0003_category_foc_percentage.py
0002_pastcheque_date_pastinvoice_date.py
0003_alter_userdetails_designation.py
0004_alter_userdetails_designation.py
0005_alter_userdetails_designation.py
0006_alter_userdetails_designation.py
0002_rename_is_companystaff_useraccount_is_company.py
0003_useraccount_is_excecutive.py
0003_salesrefinvoice_inventory.py
0003_notbuydetails_dis_sales_ref.py
0007_alter_userdetails_designation.py
0004_alter_salesrefinvoice_confirmed_date.py
0003_salesreturn_inventory.py
0003_salesrefreturn_inventory.py
sersettings.py
# Backup files # 
*.bak 
*.vscode
# If you are using PyCharm # 
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# File-based project format
*.iws

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history