//colors
$color-sidebar: rgb(12, 81, 200);
$color-underline: rgb(254, 199, 48);
$color-yellow-light: rgb(163, 160, 0);
$color-white-grey: rgb(255, 255, 248);
$color-blue-sidebar-title: rgb(85, 119, 143);
$color-blue-sidebar-title-light: rgb(43, 143, 214);
$color-blue-sidebar-title-dark: rgb(38, 120, 179);
$color-title-background: rgb(254, 83, 106);
$color-title-background-light: rgb(255, 50, 77);
$color-btn-warning: rgb(246, 209, 48);
$color-subtitle: rgb(21, 34, 57);
$color-colum-background: rgb(196, 207, 229);
$color-danger: rgb(255, 0, 0);
$color-danger-dark: rgb(185, 0, 0);
$color-details: rgb(26, 156, 0);

$color-white: #fff;
$color-black: #000;

$transition-normal: all 0.3s ease;

//screen sizes

$screen-xxs: 400px;
$screen-xs: 600px;

// Small devices (portrait tablets and large phones, 768px and up)
$screen-sm: 768px;

// Medium devices (landscape tablets, 992px and up)
$screen-md: 992px;

// Large devices (laptops/desktops, 1200px and up)
$screen-lg: 1200px;

// Extra large devices (large desktops, 1400px and up)
$screen-xl: 1400px;

// Set max width for small, medium, large and extra large screens
$max-sm: $screen-sm - 1;
$max-md: $screen-md - 1;
$max-lg: $screen-lg - 1;
$max-xl: $screen-xl - 1;
