.tg {
    border-collapse: collapse;
    border-color: #aabcfe;
    border-spacing: 0;
}

.tg td {
    background-color: #e8edff;
    border-color: #aabcfe;
    border-style: solid;
    border-width: 1px;
    color: #669;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    background-color: #b9c9fe;
    border-color: #aabcfe;
    border-style: solid;
    border-width: 1px;
    color: #039;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-phtq {
    background-color: #D2E4FC;
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-hmp3 {
    background-color: #D2E4FC;
    text-align: left;
    vertical-align: top
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}