.searchloading-spinner {
  width: 25px;
  height: 25px;
  border: 10px solid #f3f3f3; /* Light grey */
  /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;

  &.login {
    border-top: 10px solid #ff0000;
    width: 25px;
    height: 25px;
  }
  &.detail {
    border-top: 10px solid $color-sidebar;
  }
  &.page {
    border-top: 10px solid $color-details;
    width: 10px;
    height: 10px;
  }

  &.search {
    width: 5px;
    height: 5px;
    border-top: 10px solid $color-blue-sidebar-title-dark;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
