.details {
  &__content {
    width: 50%;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    height: 75vh;
    background-color: white;
    border-radius: 25px;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    scrollbar-width: thin;
    scrollbar-color: #000f80 #ffffff;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000f80;
      border-radius: 25px;
    }
    &::-webkit-scrollbar-button {
      height: 50px;
    }
    @include mobile {
      width: 300px;
      padding: 25px;
    }
    &__title {
      text-align: center;
      h4 {
        background-color: $color-details;
        padding: 5px;
        color: $color-white;
        border-radius: 20px;
      }
    }
    &__body {
      margin-top: 25px;
    }

    &__row {
      display: flex;
      gap: 5px;

      &.detailtablel {
        margin-top: 25px;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        overflow: auto;
        padding: 10px;
        box-sizing: border-box;
      }
      &.buttons {
        margin-top: 15px;
        justify-content: space-around;
        @include mobile {
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: center;
          align-items: center;
        }
      }
      &__col {
        .btnEdit,
        .btnDelete,
        .addBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 35px;
          font-size: medium;
          font-weight: bold;
          color: $color-white;
          border-radius: 25px;
        }
      }
    }

    table {
      width: 100%;
      border: 1px solid grey;
      thead {
        background-color: #000f80;
        tr {
          td {
            text-align: center;
            color: white;
          }
        }
      }
      tbody {
        tr {
          &.even {
            background-color: $color-colum-background;
          }
        }
      }
    }
  }
}
