.fileupload {
  &__content {
    width: 40%;
    height: 450px;
    background-color: white;
    border-radius: 25px;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    display: block;
    .container {
      width: 100%;
      .dropzone {
        align-self: center;
        border: 1px dashed blue;
        color: $color-black;
        padding: 25px;
        border-radius: 25px;
        cursor: copy;
        background-color: $color-colum-background;
      }
      aside {
        color: $color-black;

        ul {
          list-style: none;
        }
      }
      .buttons {
        display: flex;
        justify-content: center;
        gap: 5px;
        .btnEdit,
        .btnSave,
        .addBtn {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          border-radius: 25px;
          width: max-content;
          padding: 10px 25px;
          color: white;
        }
      }
      .file-status {
        margin-top: 10px;
        height: 50px;

        .progres {
          text-align: center;
          font-weight: bold;
          .error {
            color: red;
          }
          .psuccess {
            color: $color-blue-sidebar-title-dark;
          }
        }

        .processing {
          text-align: center;
          font-weight: bold;
          color: $color-black;
        }
        .loading {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .result {
          color: black;
          ul {
            list-style: none;
          }
        }
      }
    }
  }
}
