.container {
  z-index: 1;
  width: 300px;
  color: $color-white;
  display: grid;
  height: 100vh;
  @include mobile {
    width: 50px;
    transition: $transition-normal;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 25px;
    gap: 10px;
    background-color: $color-white-grey;
    height: 40px;
    width: 250px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;

    &__logo {
      color: rgb(119, 9, 9);
    }
    &__brand {
      color: $color-blue-sidebar-title;
      font-size: 15px;
      text-transform: capitalize;
      font-weight: bolder;
      @include mobile {
        display: none;
        transition: $transition-normal;
      }
    }
  }

  &__list {
    margin-top: 10px;

    &__item {
      cursor: pointer;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-transform: capitalize;
      color: $color-white;
      font-size: 15px;
      font-weight: 700;
      gap: 10px;
      text-decoration: none;
      &__icon {
        font-size: 25px;
        @include mobile {
          margin-left: -5px;
          transition: $transition-normal;
        }
        &:hover {
          color: $color-underline;
          font-weight: bolder;
        }
      }
      &__name {
        @include mobile {
          display: none;
          padding: 0px;
          transition: $transition-normal;
        }
      }
      &:hover {
        color: $color-underline;
        text-decoration: underline;
      }
    }
  }
  &__footer {
    position: absolute;
    background-color: $color-blue-sidebar-title-light;
    bottom: 0;
    width: 300px;
    max-height: 250px;
    display: flex;
    @include mobile {
      width: 50px;
      height: 100px;
      transition: $transition-normal;
    }
    &__img {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include mobile {
          width: 45px;
          height: 45px;
          transition: $transition-normal;
        }
      }
    }
    &__details {
      flex: 2;
      background-color: $color-blue-sidebar-title-dark;
      padding: 5px;
      @include mobile {
        display: none;
        transition: $transition-normal;
      }

      &__name {
      }
      &__buttons {
        margin-top: 5px;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
.active {
  .container__list__item__icon {
    color: $color-btn-warning;
  }
}
