.container {
  z-index: 1;
  width: 15em;
  color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
  position: relative;

  &__logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 25px;
    gap: 10px;
    background-color: $color-white-grey;
    height: 20px;
    width: 13em;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;

    &__brand {
      color: $color-blue-sidebar-title;
      font-size: 1rem;
      text-transform: capitalize;
      font-weight: bolder;
    }
  }

  &__list {
    margin-top: 0px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    margin-bottom: 150px;
    scrollbar-width: thin;
    scrollbar-color: $color-colum-background #ffffff;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-colum-background;
      border-radius: 25px;
    }

    &::-webkit-scrollbar-button {
      height: 50px;
    }

    &__item {
      cursor: pointer;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-transform: capitalize;
      color: $color-white;
      font-size: 0.8rem;
      font-weight: 700;
      gap: 10px;
      text-decoration: none;

      &__icon {
        font-size: 1.2rem;

        &:hover {
          color: $color-underline;
          font-weight: bolder;
        }
      }

      &__name {}

      &:hover {
        color: $color-underline;
        text-decoration: underline;
      }
    }
  }

  &__footer {
    position: absolute;
    background-color: $color-blue-sidebar-title-light;
    bottom: 0;
    width: 100%;
    display: flex;

    &__img {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__details {
      flex: 2;
      background-color: $color-blue-sidebar-title-dark;
      padding: 5px;
      box-sizing: border-box;

      &__name {
        font-size: 0.8rem;
      }

      &__buttons {
        margin-top: 5px;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

.active {
  .container__list__item__icon {
    color: $color-btn-warning;
  }
}