.form {
  display: grid;
  &__row {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
    @include mobile {
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;
      gap: 5px;
    }
    &__col {
      width: 100%;
      background-color: $color-colum-background;
      padding: 10px 15px;
      border-radius: 20px;
      @include mobile {
        width: 85%;
      }

      &__label {
        font-size: 15px;
        color: $color-subtitle;
        font-weight: bold;
        text-transform: capitalize;
      }

      &__input {
        border-radius: 20px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &.aligned {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 5px;
        }
        input,
        textarea,
        select {
          border: none;
          width: 100%;
          max-width: 100%;
          font-size: 15px;
          border-radius: 20px;
          padding: 5px 10px;
          box-sizing: border-box;

          &:focus {
            border-color: blue;
            box-shadow: 0px 0px 5px blue;
            outline: none; /* Remove default outline */
          }
          &[type='checkbox'] {
            border: 1px solid $color-subtitle;
            border-radius: 20px;
            height: 20px;
            width: 20px;
            margin-right: 5px;
          }
          &[type='radio'] {
            width: 25px;
            &:focus {
              border-color: none;
              box-shadow: none;
              outline: none;
            }
          }
          &[type='file'] {
            &::-webkit-file-upload-button {
              border: none;
              padding: 10px;
              border-radius: 10px;
            }
            &:hover {
              &::-webkit-file-upload-button {
                border-color: blue;
                box-shadow: 0px 0px 5px blue;
              }
            }
            &:focus {
              border-color: none;
              box-shadow: none;
              outline: none;
            }
          }

          &.err {
            box-sizing: border-box;
            border: 1px solid $color-danger;
            &:focus {
              border-color: $color-danger;
              box-shadow: 0px 0px 5px $color-danger;
              outline: none; /* Remove default outline */
            }
          }
        }
      }
      &__error {
        color: $color-danger;
      }
    }
  }
  &__btn {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 25px;
    @include mobile {
      justify-content: center;
    }
    &__container {
      display: flex;
      gap: 5px;
      button {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 25px;
        width: max-content;
        padding: 10px 25px;
        color: white;
      }
    }
  }
}
.dontdisp {
  background-color: $color-white;
  @include mobile {
    display: none;
  }
}
.specialColumn {
  display: flex;
  flex-direction: row;
  gap: 5px;
  @include mobile {
    flex-direction: column;
    gap: 5px;
  }
}
.btnEdit {
  text-align: center;
  background-color: $color-yellow-light;
  border: none;
  &:hover {
    background-color: $color-btn-warning;
  }
}
.btnDelete {
  text-align: center;
  background-color: $color-danger-dark;
  border: none;
  &:hover {
    background-color: $color-danger;
  }
}
.btnSave {
  background-color: $color-title-background;
  border: none;
  &:hover {
    background-color: $color-title-background-light;
  }
}
.addBtn {
  background-color: $color-blue-sidebar-title;
  color: white;
  border: none;
  &:hover {
    background-color: $color-blue-sidebar-title-light;
  }
}
.remBtn {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: $color-title-background-light;
  color: white;
  font-weight: 800;
  border: none;
  &:hover {
    background-color: $color-blue-sidebar-title-light;
  }
}

.showSelected {
  height: 500px;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: $color-white;
  overflow-y: scroll;
  @include mobile {
    height: 250px;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000f80;
    border-radius: 25px;
  }
  &::-webkit-scrollbar-button {
    height: 50px;
  }
  table {
    width: 100%;
    padding: 10px;
    border: none;
    .tableHead {
      text-align: left;
      background-color: $color-blue-sidebar-title;
      height: 25px;
    }
    .datarow {
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      height: 25px;
      .btnDelete {
        color: $color-white;
        border-radius: 10px;
      }
      .action {
        text-align: center;
      }
    }
  }
}

.searchContent {
  z-index: 100;
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-top: 5px;
  position: absolute;
  width: 50%;
  height: 250px;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10px;
  display: grid;
  @include mobile {
    width: 85%;
  }
  &__row {
    padding: 5px;
    border-bottom: 1px solid $color-colum-background;
    &:hover {
      color: $color-black;
      background-color: $color-white-grey;
    }
    &__details {
      display: flex;
      gap: 15px;
      cursor: pointer;
    }
  }
}
