.page {
  position: relative;
  display: flex;
  height: 100vh;

  &__menu {
    display: none;
    z-index: 50;
    @include mobile {
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      width: 25px;
      height: 25px;
      background-color: $color-colum-background;
      padding: 5px;
      border-radius: 25px;

      &:hover {
        background-color: $color-blue-sidebar-title-dark;
        color: $color-white;
      }
    }
  }
  &__sidebar {
    background-color: $color-sidebar;
    display: block;
    @include mobile {
      display: none;
    }
    &.show {
      @include mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
      }
    }
    &.hide {
      @include mobile {
        display: none;
      }
    }
    @include mobile {
      border-radius: 0px 25px 0px 0px;
    }
  }
  &__content {
    overflow-y: scroll;
    flex: 9;
    background-color: rgb(255, 255, 255);
    padding: 20px;

    .page {
      display: flex;
      flex-direction: column;
      @include mobile {
        display: grid;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        text-transform: capitalize;
        padding: 0px 20px 0px 20px;
        box-sizing: border-box;
        width: max-content;
        font-size: 20px;
        height: 40px;
        border-radius: 50px;
        font-weight: bolder;
        color: $color-white;
        background-color: red;
        @include mobile {
          width: 100%;
        }
      }
      &__pcont {
        @include mobile {
          width: 100%;
        }
        margin-top: 10px;
        &__row {
          margin-top: 25px;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          gap: 25px;
          color: #000;
          @include mobile {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all 0.3s ease;
            gap: 5px;
          }
          &__col {
            width: 100%;
            padding: 10px 15px;
            border-radius: 20px;
            display: grid;

            &.special {
              @include mobile {
                width: 400px;
              }
            }
            &.total {
              display: flex;
              justify-content: flex-end;
              gap: 25px;
              border-radius: 5px;
              background-color: $color-colum-background;
            }
          }
        }
      }
    }
  }
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dataTable {
  width: 100%;
  @include mobile {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .testTbl {
    background-color: $color-blue-sidebar-title-light;
  }
  @include screenXXS {
    width: 300px;
    display: block;

    &:first-child {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include screenXS {
    width: 500px;
    display: block;

    &:first-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include screenSM {
    width: 668px;
    display: block;

    &:first-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @include screenMD {
    width: 100%;
  }
}
