.table {
  @include mobile {
    margin-left: -25px;
    width: 125%;
  }

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  table {
    width: 100%;
    thead {
      height: 50px;
      background-color: $color-colum-background;
    }
    tbody {
      text-align: center;
      tr {
        position: relative;
        height: 50px;

        td {
          div {
            @include mobile {
              display: none;
            }
            display: flex;
            justify-content: flex-end;
            .btn {
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              font-size: 20px;
              border-radius: 25px;
            }
            .edit {
              background-color: $color-white;
              color: $color-btn-warning;

              &:hover {
                background-color: $color-btn-warning;
                color: $color-white;
                transition: all 0.5s ease-in;
              }
            }
            .delete {
              background-color: $color-white;
              color: $color-danger;

              &:hover {
                background-color: $color-danger;
                color: $color-white;
                transition: all 0.5s ease-in;
              }
            }
            .details {
              background-color: $color-white;
              color: $color-details;

              &:hover {
                background-color: $color-details;
                color: $color-white;
                transition: all 0.5s ease-in;
              }
            }
          }
          .action_btn {
            display: none;
            @include mobile {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 5px;
              box-sizing: border-box;
              border-radius: 5px;
              &:hover {
                background-color: $color-colum-background;
              }
            }
          }
        }
      }
      .sp {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      }
    }
  }
}
.tbl_side_menu {
  box-sizing: border-box;
  width: 150px;
  height: max-content;
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  right: 10px;
  z-index: 100;
  border-radius: 15px;
  top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  &__row {
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $color-colum-background;
    }
  }
}

.pagination {
  background-color: #aad3e4;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__pagecount {
    select {
      border: 1px solid $color-white;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 10px;
      color: $color-white;
      background-color: #aad3e4;
    }
  }
}
