.wcontainer {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    .title {
      width: 100%;
      text-align: start;
      color: white;
      font-size: 25px;
    }

    &.mt {
      margin-top: 15px;
    }

    &__col {
      flex: 1;
      text-align: center;
      color: $color-blue-sidebar-title;
      font-weight: 500;

      &.icon {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .up {
          color: $color-details;
        }
        .down {
          color: $color-danger;
        }
      }
    }
  }
}

.wid-details {
  display: grid;
  .title {
    text-align: center;
    color: $color-white;
  }
  .content {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: #000f80 #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000f80;
      border-radius: 25px;
    }
    &::-webkit-scrollbar-button {
      height: 50px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      height: 25px;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      &.none {
        background-color: #ffffff;
      }
    }
  }
}
